/* MEDIA QUERY */
$tablet_width: 700px;
$desktop_width: 1000px;
@mixin mobile {
    @media (max-width: #{$tablet_width - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet_width}) and (max-width: #{$desktop_width - 1px}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop_width}) {
        @content;
    }
}
@mixin not_desktop {
    @media (max-width: #{$desktop_width - 1px}) {
        @content;
    }
}
@mixin not_mobile {
    @media (min-width: #{$tablet_width}) {
        @content;
    }
}
/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
main, menu, nav, output, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
html, body, div, table, form, input,
h1, h2, h3, hr, ul, ol, li, a, p, main,
section, footer, header, aside, canvas, article {
    border: medium none;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    outline: medium none;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section {
    display: block;
}
body { line-height: 1; }
table { border-collapse: collapse; border-spacing: 0; }
strong, b { font-weight: bold; }
i, em { font-style: italic; }
/* DEFAULT CLASSES */
._left { float: left; }
._right { float: right; }
._ml_auto { margin-left: auto; }
._mr_auto { margin-right: auto; }
._clear { clear: both; }
._clearfix:after { content: ''; display: table; clear: both; }
._block { display: block; }
._inline { display: inline; }
._hide { display: none; }
._hidden { visibility: hidden; }
._visible { visibility: visible; }
._absolute { position: absolute; }
._relative { position: relative; }
._flex_row { display: flex; flex-flow: row nowrap; }
._flex_row_wrap { display: flex; flex-flow: row wrap; }
._flex_column { display: flex; flex-flow: column nowrap; }
._flex_column_wrap { display: flex; flex-flow: column wrap; }
._flex_1_1 { flex: 1 1 auto; }
._height_100 { height: 100%; }
._width_100 { width: 100%; }
/* MISC */
img { vertical-align: top; }
html { font-size: 10px; }
html, body {
    height: 100%;
    width: 100%;
    min-width: 320px;
}
body {
    font-size: 1.3rem;
}
